@import "http://";
@charset "utf-8";

/***** default styles
*******************************************/

body {
	font-size: 15px;
	*font-size: small; /* IE7 */
	*font: x-small; /* IE6 */
	-webkit-text-size-adjust: 100%;
}

* {line-height: 1.6;font-size: 100%;}


/***** text styles
*******************************************/



html {
	padding: 0;
	margin: 0;
}

body {

	color: #5D5D5D;
	margin:0 auto;
	padding:0;
	font-family: Verdana, Arial, "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", sans-serif;
}


p {
	line-height: 1.9;
	text-align: justify;
	text-justify: distribute;
}


p, ul, ol, dl, table, pre {

	letter-spacing: 0.02em;
}

.source {
  font-size: 90%;
  background: #EFEFEF;
  color: #444444;
	border-radius: 3px;
  font-family: 'Monaco', 'Consolas', 'Courier New', Courier, monospace, sans-serif;
  margin: -10px 0;
  padding: 10px 1em;

}

/***** image styles
*******************************************/

.rogueimg
{
	border: 0;
	max-width: 100% ;
	height: auto ;
}

/***** Link styles
*******************************************/

a {text-decoration: none;}

a:link {
	color: #337ED2;
}

a:visited {
	color: #337ED2;
}

a:hover {
	color: #337ED2;
	border-bottom: 1px solid #337ED2;
}

/***** layout styles
*******************************************/


.out {
	margin:20px auto 10px auto;
	text-align: left;
	width:100%;
	width:950px;
	border: 1px solid #cccccc;
}

.header {
	letter-spacing: 0.1em;
	text-align: left;
	margin:0px auto 20px auto;
	padding:25px;
	border-bottom: 1px solid #cccccc;
	background-color:#EFEFEF;
}

.menu  {
	text-align:right;
	font-size:87%;
	color:#CCCCCC;

}

.main{
	letter-spacing: 0.1em;

	margin:0 3em;
	line-height: 1.9;
}

h1 {
	font-size: 160%;
	font-weight:normal;
	margin:0 0 5px 0;
	padding:0;
}

h2 {
	font-size: 150%;
	font-weight:normal;
	margin:0;
	padding:0;

}

h3 {
	font-size: 130%;
	font-weight:normal;
	margin:2.5em 0 1em 0;
	padding:0 0 0 10px;
	border-left: 3px solid #cccccc;
}

h4 {
	font-size: 110%;
	font-weight:normal;
	margin:2.5em 0 1em 0;
	padding:0 0 0px 10px;
  border-left: 3px solid #cccccc;
}

ul {
	margin:0 5px 5px 0;
	padding: 3px;
	list-style: circle;
}

li {
	margin: 0.2em 0 0.2em 1.5em;
	letter-spacing: 0.02em;
	padding: 0.2em 0 0.2em 0.1em;
}

sup {
	font-size: 80%
}

.footer {
	margin: 3em 0 0 0;
	padding:25px;
	border-top: 1px solid #cccccc;
	background-color:#EFEFEF;
	line-height: 1.9;
	text-align: center;
	letter-spacing: 0.1em;
}

.only-sp
{
	display: none ;		/* 非表示にする */
}

.sns
{
	text-align: right;
	height: 20px;
}

.noselect {
	user-select: none; /* CSS3 */
	-moz-user-select: none; /* Firefox */
	-webkit-user-select: none; /* Safari、Chromeなど */
	-ms-user-select: none; /* IE10かららしい */
}

.padding_6em {
	padding: 0 6em;
}
.padding_3em {
	padding: 0 3em;
}
.center_pc {
	text-align: center;
}

span.aks {
 display: inline-block;  /* あまり改行したくない */
}

.message {
    position: relative;
		margin: 1px;
}
.message span.remark {
    display: none;
}
.message a.hover span.remark {
    background: none repeat scroll 0 0 #EFEFEF;
    border: 1px solid #CCCCCC;
    color: #000000;
    display: block;
    line-height: 1.5em;
    margin: 0.5em;
    padding: 0.2em 0.5em;
    position: absolute;
    top: 20px;
		left: 0px;
    width: 28em;
		font-size: 90%;
}

@media screen and (max-width: 479px) {
	.out {
		margin:0px auto 0px auto;
		width:auto;
	}
	.header {
		margin:0px auto 5px auto;
		padding:10px 10px;
	}
	.main {
		width: auto;
		margin:0 10px;
  	padding: 0;
	}
	.menu  {
		font-size:70%;
		letter-spacing: 0em;
	}
	.scroll{
		overflow: auto;					/*tableをスクロールさせる*/
		white-space: nowrap;			/*tableのセル内にある文字の折り返しを禁止*/
		}
	.scroll::-webkit-scrollbar{			/*tableにスクロールバーを追加*/
		height: 5px;
	}
	.scroll::-webkit-scrollbar-track{	/*tableにスクロールバーを追加*/
		background: #F1F1F1;
	}
	.scroll::-webkit-scrollbar-thumb {	/*tableにスクロールバーを追加*/
		background: #BCBCBC;
	}
	.only-sp {
		display: block ;		/* 表示する */
	}
	.only-pc
	{
		display: none ;		/* 非表示にする */
	}
	.sns
	{
		text-align: left;
	}
	.padding_6em {
		padding: 0 0;
	}
	.padding_3em {
		padding: 0 0;
	}
	.center_pc {
		text-align: center;
		font-size: 80%;
	}
	h1 {
		font-size: 130%;
	}
	.message a.hover span.remark {
		position: fixed;
		width: 20em;
	}
}
