@import "http://";
@charset "utf-8";

/***** default styles
*******************************************/

body {
	font-size: 16px;
	*font-size: small; /* IE7 */
	*font: x-small; /* IE6 */
	-webkit-text-size-adjust: 100%;
}

* {line-height: 1.6;font-size: 100%;}

/***** text styles
*******************************************/

html {
	padding: 0;
	margin: 0;
}

body {
	color: #333333;
/*	background-color: #F9F9F9; */
	margin:0 auto;
	padding:0;
	font-family: -apple-system, 'BlinkMacSystemFont', sans-serif;
}

p {
	line-height: 1.9;
	text-align: justify;
	text-justify: inter-ideograph;
}

p.indent {text-indent: 3em;}
p.padding_option {
	padding: 0 3em;
}
p, ul, ol, dl, table, pre {

	letter-spacing: 0.02em;
}

table.ps {
	font-size: 85%;
	border-collapse: collapse;
	border: 1px solid #CCCCCC;
	width: 100%;
}
table.ps tr td {
	padding:5px;
	border: 1px solid #CCCCCC;
	width: 26%;
}
table.ps th {
	font-weight: normal;
	padding:5px;
	border: 1px solid #CCCCCC;
	width: 48%;
}
table.ps thead {
	background: #EFEFEF;
	font-style: oblique;
}

table.guide {
	border-collapse: collapse;
	border: 0;
	margin: 0;
}
table.guide tr td {
	padding:3px 0px;
}
table.guide td {
	vertical-align:top;
}

table.wm {
	font-size: 95%;
	border-collapse: collapse;
	border: 1px solid #CCCCCC;
}
table.wm tr td {
	padding:5px;
	border: 1px solid #CCCCCC;
}
table.wm th {
	padding:5px;
	border: 1px solid #CCCCCC;
	background: #EFEFEF;
	font-style: oblique;
	white-space: nowrap;
}

hr {
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: #CCCCCC;
}

.source {
  font-size: 90%;
  background: #EFEFEF;
  color: #444444;
	border-radius: 3px;
  font-family: 'Monaco', 'Consolas', 'Courier New', Courier, monospace, sans-serif;
  margin: -10px 0;
  padding: 10px 1em;

}

/***** image styles
*******************************************/

.rogueimg
{
	border: 0;
	max-width: 100% ;
	height: auto ;
}

/***** Link styles
*******************************************/

a {text-decoration: none;}

a:link {
	color: #337ED2;
}

a:visited {
	color: #337ED2;
}

a:hover {
	color: #337ED2;
	border-bottom: 1px solid #337ED2;
}

/***** layout styles
*******************************************/


.out {
	margin:0px auto 10px auto;
	padding:5px;
	text-align: left;
	width:100%;
	width:950px;
/*	border: 1px solid #cccccc; */
	background-color: #FFFFFF;
}

.header {
	display: flex;
  justify-content: center;
  align-items: center;
	letter-spacing: 0.1em;
	border-bottom: 1px dashed #CCCCCC;
 	background-color:#FFFFFF;
	height:120px;
}

.menu  {
	letter-spacing: 0.05em;
	text-align:right;
	font-size:70%;
	padding:0.5em 0 1em 0;
	color: #AAAAAA;
}

.main{
	letter-spacing: 0.1em;
	margin:0 3em;
	line-height: 1.9;
}

h1 {
	letter-spacing: 0.01em;
	font-size: 250%;
	font-weight:normal;
	margin:0 0 5px 0;
	padding:0;
}

h2 {
	letter-spacing: 0.03em;
	font-size: 200%;
	font-weight:normal;
	margin:0 0 5px 0;
	padding:0;
}

h3 {
	letter-spacing: 0.05em;
	font-size: 130%;
	font-weight:normal;
	margin:2.5em 0 1em 0;
	padding:0 0 0 10px;
	border-left: 3px solid #cccccc;
}

h4 {
	font-size: 110%;
	font-weight:normal;
	margin:2.5em 0 1em 0;
	padding:0 0 0px 10px;
  border-left: 3px solid #cccccc;
}

ul {
	margin:0 5px 5px 0;
	padding: 3px;
	list-style: circle;
}

li {
	margin: 0.2em 0 0.2em 1.5em;
	letter-spacing: 0.02em;
	padding: 0.2em 0 0.2em 0.1em;
}
ol li {
	padding: 0;
	margin: 0;
	line-height: 1;
}
.br::before {
	content:"\A";
	white-space: pre ;
}

sup {
	font-size: 80%
}

rt {
	font-size: 40%;
}

pre.prompt {
	font-family: 'Monaco', 'Consolas', 'Courier New', Courier, monospace, sans-serif;
	font-size: 90%;
	background: #EFEFEF;
	border-radius: 3px;
	padding: 0px 5px;
	margin: 5px 0;
}
pre.prompt::before {
	content: "$ ";
}
pre.map {
	font-family: 'Monaco', 'Consolas', 'Courier New', Courier, monospace, sans-serif;
	line-height: 1;
	background: #000000;
	color: #D4D4D4;
	border-radius: 3px;
	padding: 10px 1em;
}

.footer {
	padding:25px;
	border-top: 1px dashed #CCCCCC;
	background-color:#FFFFFF;
	line-height: 1.9;
	text-align: center;
	letter-spacing: 0.1em;
}

.only-sp
{
	display: none ;		/* 非表示にする */
}

.sns
{
	text-align: right;
	height: 20px;
}

.noselect {
	user-select: none; /* CSS3 */
	-moz-user-select: none; /* Firefox */
	-webkit-user-select: none; /* Safari、Chromeなど */
	-ms-user-select: none; /* IE10かららしい */
}

.padding_6em {
	padding: 0 6em;
}
.padding_3em {
	padding: 0 3em;
}
.center_pc {
	text-align: center;
}

span.aks {
 display: inline-block;  /* あまり改行したくない */
}

.message {
    position: relative;
		margin: 1px;
}
.message span.remark {
    display: none;
}
.message a:hover span.remark {
		text-indent: 0em;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #333333;
    color: #333333;
    display: block;
    line-height: 1.5em;
    margin: 0.5em;
    padding: 0.2em 0.5em;
    position: absolute;
    bottom: 1.2em;
		left: -20em;
    width: 30em;
		font-size: 110%;
}

@media screen and (max-width: 479px) {
	.out {
		margin:0px auto 0px auto;
		width:auto;
	}
	.header {
		margin:0px auto 5px auto;
		padding:10px 10px;
		height:70px;
		font-size: 110%;
	}
	.main {
		width: auto;
		margin:0 10px;
  	padding: 0;
	}
	.menu  {
		letter-spacing: 0em;
		padding:0 0 0 0;
		text-align: center;
		font-size: 2.77vw;
	}
	.scroll{
		overflow: auto;					/*tableをスクロールさせる*/
		white-space: nowrap;			/*tableのセル内にある文字の折り返しを禁止*/
		}
	.scroll::-webkit-scrollbar{			/*tableにスクロールバーを追加*/
		height: 5px;
	}
	.scroll::-webkit-scrollbar-track{	/*tableにスクロールバーを追加*/
		background: #F1F1F1;
	}
	.scroll::-webkit-scrollbar-thumb {	/*tableにスクロールバーを追加*/
		background: #BCBCBC;
	}

	.only-sp {
		display: block ;		/* 表示する */
	}
	.only-pc
	{
		display: none ;		/* 非表示にする */
	}
	.sns
	{
		text-align: left;
	}
	.padding_6em {
		padding: 0 0;
	}
	.padding_3em {
		padding: 0 0;
	}
	.center_pc {
		text-align: center;
		font-size: 80%;
	}
	p.indent {text-indent: 2em;}
	p.padding_option {
		padding: 0 1em;
	}
	h1 {
		font-size: 150%;
		text-align: center;
	}
	h2 {
		font-size: 130%;
		text-align: center;
	}
	rt {
		font-size: 45%;
	}
	pre.prompt {
		white-space: pre-wrap ;
	}
	pre.map {
		font-size: 85%;
	}
	table.ps {
		font-size: 85%;
		border-collapse: collapse;
		white-space: pre-wrap ;
		border: 0;
	}
	table.ps tbody th {
		display: block;
  	padding: 5px;
		background: #EFEFEF;
		border: 0;
		width: auto;
	}
	table.ps tbody td {
		display: block;
  	padding: 5px;
		border: 0;
		width: auto;
	}
	table.ps tbody td.en {
		display:none;
	}
	table.ps tbody td::before{
		content: " → ";
	}
	.br::before {
		content:"\A  → ";
		white-space: pre ;
	}
	table.ps thead {
		display:none;
	}
	.message a:hover span.remark {
		pointer-events:none;
		position: fixed;
		bottom: 5em;

		left: 1em;
		width: 80%;
		font-size: 125%;
	}
	.message a:active {
		pointer-events:none;
	}
}
